body {
    font-family: sans-serif;
    margin: 2em;
}

form {
    margin-bottom: 2em;
}

input {
    margin-right: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    padding: 0.5em;
}
